/*
 * general
 */

* {
	font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

header, section, footer {
    clear: both;
    margin: auto 20%;
    display: flex;
    flex-direction: column;
}


@media (max-width: 750px), (orientation: portrait) {
    header, section, footer {
        margin: auto 1em;
    }
}

p {
    text-align: justify;
}



/*
 * header & navigation
 */


#header h1 {
    text-align: center;
}

#navigation {
    display: flex;
    justify-content: center;
    background-color: #fbf4fe;
}

#navigation ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;    
}

@media (max-width: 750px), (orientation: portrait) {
    #navigation ul {
        flex-direction: column;
    }

    #navigation ul li {
        text-align: center;
    }
}

#navigation ul li {
    padding: 0.25em 1em;
    border-bottom: 0.2em solid transparent;
}

#navigation ul li:hover {
    border-bottom: 0.2em solid black;
}

#navigation ul li a {
    color: black;
    text-decoration: none;
}


/*
 * home 
 */


#home h2 {
    text-align: center;
}

#home img {
    align-self: center;
}

#home a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#home a:hover {
    background-color: #FBF4FE;
}


/*
 * where
 */

#map {
    margin-left: -20vw;
    width: 100vw;
    height: 75vh;

    border: none;

    pointer-events: none;
}

#map a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#map a:hover {
    background-color: #FBF4FE;
}

@media (max-width: 750px), (orientation: portrait) {
    #map {
        margin-left: -1em;
        height: 50vh;
    }
}


/*
 * footer
 */


footer {
    font-size: smaller;
    text-align: center;
    color: #555;
}

footer a {
    color: #333
}
